{% extends '/base.html.twig' %}

{% block title %}
    {{ parent() }} || Add Event
{% endblock %}

{% block body %}
    {% block h2 %} Add a new event {% endblock %}
    {{ form_start(eventForm) }}
    {{ form_row(eventForm.name) }}
    {{ form_row(eventForm.dateTimeStart) }}
    {{ form_row(eventForm.dateLimitRegistration) }}
    {{ form_row(eventForm.numMaxRegistration) }}
    {{ form_row(eventForm.duration) }}
    {{ form_row(eventForm.infoEvent) }}
    {{ form_row(eventForm.campus) }}
    {{ form_row(eventForm.city) }}
    {{ form_row(eventForm.location) }}
    <a href="{{ path('location_add') }}" class="btn btn-primary" id="addLocationButton" target="_blank">Add new
        location</a><br>
    <button onclick="window.location.href='{{ path('main_home') }}';">Cancel</button>
    {{ form_end(eventForm) }}
{% endblock %}