{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Update
{% endblock %}

{% block body %}
    {{ form_start(eventFormUpdate) }}
    {{ form_row(eventFormUpdate.name) }}
    {{ form_row(eventFormUpdate.dateTimeStart) }}
    {{ form_row(eventFormUpdate.dateLimitRegistration) }}
    {{ form_row(eventFormUpdate.numMaxRegistration) }}
    {{ form_row(eventFormUpdate.duration) }}
    {{ form_row(eventFormUpdate.infoEvent) }}
    {{ form_row(eventFormUpdate.campus) }}
    {{ form_row(eventFormUpdate.city) }}
    {{ form_row(eventFormUpdate.location) }}
    <a href="{{ path('location_add') }}" class="btn btn-primary" id="addLocationButton" target="_blank">Add new
        location</a><br>
    {{ form_row(eventFormUpdate.save) }}
    {{ form_row(eventFormUpdate.open) }}
    <a class="link_button" href="{{ path('event_detail', {'id':event.id}) }}">Back</a><br>
    <a class="link_button" href="{{ path('event_cancel', {'id':event.id}) }}">Cancel Event</a>
    {{ form_end(eventFormUpdate) }}
{% endblock %}

