{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="flex justify-center items-center">
        <form method="post" class="mt-16 w-fit h-fit p-8 flex flex-col items-center gap-4 rounded shadow-md bg-gray-100">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="text-gray-500 font-bold">Please sign in</h1>
            <input type="email" placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" class="w-full border-b border-y-yellow-400 focus:outline-none text-center bg-transparent" autocomplete="email" required autofocus>

            <input type="password" placeholder="Password" name="password" id="inputPassword" class="w-full border-b border-orange-500 focus:outline-none text-center bg-transparent" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="flex flex-row items-center justify-evenly text-gray-500">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>

            <button class="w-32 p-2 border-2 border-teal-700 rounded hover:bg-teal-700 hover:text-white" type="submit">
                Sign in
            </button>
        </form>
    </section>
{% endblock %}
