{%  extends 'base.html.twig' %}

{%block title%}
    {{ parent() }} | List of Campuses
{% endblock %}

{% block body %}
    <h2>List of Campuses !</h2>

    <section>

    {% for c in campus %}

        <article>
            <a>
                <img src="{{ c.name }}" alt="nom du campus : {{ c.name }}">
            </a>
        </article>

        <a class="link_button" href="{{ path('update_campus' , {'id': c.id}) }}">Edit</a>

        <a class="link_button" onclick="return confirm('Are you sure you want to delete {{ c.name }} ?')" href="{{ path('delete_campus' , {'id': c.id}) }}">Delete campus</a>




    {% endfor %}

        <a class="link_button" href="{{ path('add_campus')}}">Add new campus</a>

    </section>


{% endblock %}