{% extends 'base.html.twig' %}

{% block title %}Here are the events{% endblock %}

{% block body %}

    <section class="bg-gray-100 rounded-md p-8 h-1/3 mt-8 w-1/2 flex flex-row gap-16 justify-between shadow-md">
        <div class="w-1/3 flex flex-col gap-4">
            <div>
                {{ form_start(researchForm) }}
            </div>
            {{ form_widget(researchForm.campus, { 'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5', 'placeholder': 'Confirm password'} }) }}
            <div class="h-10 flex flex-row justify-between">
                {{ form_label(researchForm.startDate) }}
                {{ form_widget(researchForm.startDate) }}
            </div>
            <div class="h-10 flex flex-row justify-between">
                {{ form_label(researchForm.endDate) }}
                {{ form_widget(researchForm.endDate) }}
            </div>
            <div>
                {{ form_widget(researchForm.searchField, { 'attr': {'class': 'h-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5', 'placeholder': 'Search'} }) }}
            </div>
        </div>
        <div class="w-1/4 flex flex-col gap-4">
            <div></div>
            <div class="h-10 flex flex-row items-center justify-between">
                {{ form_label(researchForm.isOrganised) }}
                {{ form_widget(researchForm.isOrganised) }}
            </div>
            <div class="h-10 flex flex-row items-center justify-between">
                {{ form_label(researchForm.isSubed) }}
                {{ form_widget(researchForm.isSubed) }}
            </div>
            <div class="h-10 flex flex-row items-center justify-between">
                {{ form_label(researchForm.isNotSubed) }}
                {{ form_widget(researchForm.isNotSubed) }}
            </div>
            <div class="h-10 flex flex-row items-center justify-between">
                {{ form_label(researchForm.isOver) }}
                {{ form_widget(researchForm.isOver) }}
            </div>
        </div>
        <button type="submit" class="w-32 flex flex-col items-center justify-center h-10 p-2 self-center border-2 border-blue-600 rounded-full hover:bg-blue-600 hover:text-white">Search</button>
        <div>
            {{ form_end(researchForm) }}
        </div>
    </section>

    <section class="w-full h-1/2 mt-8 rounded-md border-2 border-blue-600 overflow-y-auto">

        <div class="[&>*:nth-child(even)]:bg-blue-100 overflow-hidden">
            {% for event in events %}
                {% if event.state.tag != 'saved' or event.users.contains(app.user) %}
                    <div class="h-16 pl-4 pr-4 flex flex-row gap-8 items-center">
                        <div>
                            {{ event.name }}
                        </div>
                        <div>
                            {{ event.dateTimeStart | date("d/m/y H:i") }}
                        </div>
                        <div>
                            {{ event.dateLimitRegistration | date("d/m/Y") }}
                        </div>
                        <div>
                            {{ event.userCount(event.id) }}/{{ event.numMaxRegistration }}
                        </div>
                        <div>
                            {{ event.state.tag }}
                        </div>
                            {% for participant in event.users %}
                                {% if user == participant %}
                                    <div>X</div>
                                {% endif %}
                            {% endfor %}
                        <div>
                            {% if event.owner == app.user %}
                                <a href="{{ path('app_myprofile', {'id': app.user.id}) }}">{{ app.user.nickname }}</a>
                            {% else %}
                                <a href="{{ path('app_profile', {'id' : event.owner.id}) }}">{{ event.owner.nickname }}</a>
                            {% endif %}
                        </div>
                            {% if event.owner == app.user and event.state.tag != 'ongoing' %}
                                <a href="{{ path('event_detail', {'id': event.id}) }}" title="Modify this event">Modify</a>
                            {% else %}
                            {% endif %}
                            {% if event.state.tag != 'closed'  %}
                                <a href="{{ path('event_detail', {'id': event.id}) }}" title="View details about this event">Show details</a>
                            {% else %}
                            {% endif %}
                        {% if event.owner.id == app.user.id %}
                            {% if event.state.tag == 'saved' %}
    {#                        publish event#}
                                <a href="{{ path('event_update', {'id': event.id}) }}" title="Publish this event"> Publish this event </a>
                            {% else %}
                            {% endif %}
                            {% if event.state.tag == 'open' and event.state.tag != 'ongoing' or event.state.tag == 'saved' %}
    {#                        cancel event#}
                                <a href="{{ path('event_cancel', {'id': event.id}) }}" title="Cancel this event"> Cancel this event</a>
                            {% else %}
                            {% endif %}
                        {% else %}
                            {% if not event.users.contains(app.user) and event.state.tag == 'open' %}
    {#                        apply#}
                                <a href="{{ path('user_apply', {'id': event.id}) }}" title="Apply to this event" >Apply to this event</a>
                            {% else %}
                            {% endif %}
                        {% endif %}
                        {% if event.datetimestart > now and event.users.contains(app.user) and event.state.tag != 'ongoing' and event.state.tag != 'saved' %}
    {#                        cancel sub#}
                            <a href="{{ path('user_cancel', {'id': event.id}) }}" title="Cancel your subsciption"> Cancel subscription </a>
                        {% else %}
                        {% endif %}
                </div>
                {% endif %}
            {% endfor %}
        </div>

    </section>
{% endblock %}
